.optionsMenu {
      position: fixed;
      background-color: #282828;
      width: 200px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 3px;
      z-index: 1;
      display: none;
    }

    .optionsMenu .item {
      width: 100%;
      padding: 12px 20px;
      box-sizing: border-box;
      font-weight: 400;
      color: rgba(147, 147, 147, 0.8);
      cursor: pointer;
      height: 40px;
      background-color: #282828;
      font-size: 14px;
    }

    .optionsMenu .item:hover {
      color: #fff;
      background-color: #333;
      border-color: #333;
    }

    .optionsButton {
      margin-bottom: 20px;

    }

    .optionsMenu select {
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }

    .trackOptions {
      width: 5%;
      float: right;
      text-align: right;
    }

    .trackOptions img {
      width: 15px;
      visibility: hidden;
    }

    .trackOptions img {
      visibility: visible;
    }