.image-cls {
    position: relative;
    display: inline-block;
    
}

.image {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-top: 50px;
    margin-left: 20px;
}

.image-cls:hover .pl-list {
    opacity: 1;
}

.image-cls:hover .image {
    opacity: 0.3;
}

.pl-list {
    transition: .5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.pl {
    background-color: #4CAF50;
    color: white;
    font-size: 15px;
    padding: 5px 5px;
}